// 纯色
$white-color: #ffffff;
$black-color: #000000;
$red-color: #ff0000;
$green-color: #00ff00;
$blue-color: #0000ff;

// 主色调 蓝色
$blue-primary-color: #2d8cf0;
$blue-info-color: #2db7f5;
$blue-light-color: #e6f7ff;
$body-background: $white-color;

// 辅助色（配色）
$gray-light-color: #cbcbcb;
$gray-color: #999999;
$gray-dark-color: #333333;
$subsidiary-color: #808695;

// 对象状态
$success-color: #19be6b;
$warning-color: #ff9900;
$error-color: #f5222d;
$default-color: $gray-light-color;

// 超链接
$link-color: #2D8cF0;
$link-hover-color: tint($link-color, 20%);
$link-active-color: shade($link-color, 5%);

// 文本

// 边框
$border-primary-color: $blue-info-color;

.common-border {
  border: 1px solid $gray-color;
  border-right: none;
  border-bottom: none;
}

#today {
  color: red;
  background: $blue-info-color;
}

.drag-calendar {
  padding-top: 1rem;
  border: 1px solid $gray-light-color;
  background-color: $white-color;

  button {
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    height: 32px;
    padding: 0 15px;
    font-size: 14px;
    border: 1px solid $gray-light-color;
    transition: color .2s linear, background-color .2s linear, border .2s linear, box-shadow .2s linear;
    color: $black-color;
    background-color: #fff;
    outline: none;
  }

  .btn-group {
    display: flex;

    button {
      &:hover {
        background-color: $blue-light-color;
      }

      &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }

  .calendar-header {
    display: flex;
    justify-content: center;

    .title {
      padding-right: 1rem;
      font-size: 22px;
    }

    .header-center {
      display: flex;
      align-items: center;
    }
  }

  .calendar-body {
    margin-top: 1rem;

    .weeks {
      display: flex;
      height: 2rem;
      @extend .common-border;

      .week {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid $gray-light-color;

        &:last-child {
          border-right: none;
        }
      }
    }

    .dates {
      .dates-bg {

        .weeks-row {
          display: flex;
        }

        .day-cell {
          flex: 1;
          min-height: 10rem;
          background: $white-color;
          @extend .common-border;

          &:hover {
            background: $blue-light-color;
            transition: background-color ease 200ms;
          }

          &.selected {
            background: $blue-light-color;
          }

          &.clicked {
            background: $blue-info-color;
          }

          .day-number {
            text-align: right;
            padding-right: 5px;
            padding-top: 5px;

            span {
              font-size: 18px;
            }
          }

          &:last-child {
            border-right: none;
          }
        }

        .not-current-month {
          color: $gray-light-color;
        }

        .current-month {

        }

        .next-month {

        }

        .previous-month {

        }

        .event {
          display: block;
          vertical-align: middle;
          margin: 4px;
          padding-left: 2px;
          border-radius: 4px;
          border: 1px solid transparent;
          line-height: 1.5;
          cursor: pointer;
          color: $gray-dark-color;

          &:hover {
            color: $blue-primary-color;
          }

          .badge {
            display: inline-block;
            position: relative;
            top: -1px;
            width: 6px;
            height: 6px;
            vertical-align: middle;
            border-radius: 50%;

            &.success {
              background-color: $success-color;
            }

            &.warning {
              background-color: $warning-color;
            }

            &.error {
              background-color: $error-color;
            }

            &.default {
              background-color: $default-color;
            }

          }
        }

      }
    }

  }

}
