$gray-border: #cbcbcb;
$gray-light: #b3b3b3;
$white: #fff;

.drag-calendar {
  .calendar-header {
    display: flex;
    justify-content: center;
    background: orange;

    .title {
      font-size: 22px;
      padding-right: 1rem;
    }

    .header-center {
      display: flex;
      align-items: center;
    }
  }

  .calendar-body {
    margin-top: 1rem;

    .weeks {
      display: flex;
      border: 1px solid $gray-border;
      border-right: none;
      background: #e0e0e0;
      height: 2rem;

      .week {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid $gray-border;
      }
    }

    .dates {
      .dates-bg {

        .weeks-row {
          display: flex;
        }

        .day-cell {
          flex: 1;
          border: 1px solid $gray-border;
          min-height: 100px;
          background: $white;
        }

        .today {
          color: red;
        }

        .not-current-month {
          color: $gray-light;
        }

        .current-month {

        }

        .next-month {

        }
        .previous-month {

        }

      }
    }

  }

}
