$gray-border: #cbcbcb;

.drag-calendar {
  .calendar-header {
    display: flex;
    justify-content: center;
    background: orange;

    .title {
      font-size: 22px;
      padding-right: 1rem;
    }

    .header-center {
      display: flex;
      align-items: center;
    }
  }

  .calendar-body {
    margin-top: 1rem;

    .weeks {
      display: flex;
      border: 1px solid $gray-border;
      border-right: none;
      background: #e0e0e0;
      height: 2rem;

      .week {
        flex: 1;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        border-right: 1px solid $gray-border;
      }
    }
  }

}
